//Global variables
$primary: #5265E1;
$secondary: #FA5959;
$enable-shadows: true;

/*Tabs*/
#features ul,
#features .nav-link {
    border: none;
}

#features .nav-item {
    border-top: 1px solid #dee2e6; 
    border-bottom: 1px solid #dee2e6; 
    &:hover {
        border-bottom: 0.25rem solid $secondary;
    }
}

#extension .card-img-top {
    width: 125px;
    height: 125px;
}

/*mediaQ*/
@media (min-width: 767px) {
    #features .nav-item {
        border-top: none;  
    }

    #extension .card:nth-child(2){
        margin-top: 5rem;
    }
    
    #extension .card:nth-child(3){
        margin-top: 10rem;
    }
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';