:root {
    --standardBorder:1px solid #dee2e6;
}

//Global variables
$primary: #5265E1;
$secondary: #FA5959;
$enable-shadows: true;
$accordion-border-color: none;
$accordion-button-icon: url('../img/icon-arrow.svg');
$accordion-button-active-icon:  url('../img/icon-arrow.svg');

/*Tabs*/
#features ul,
#features .nav-link {
    border: none;
}

#features .nav-item {
    border-top: var(--standardBorder); 
    border-bottom: 1px solid #dee2e6; 
    &:hover {
        border-bottom: 0.25rem solid $secondary;
    }
}

/*Cards*/
#extension .card-img-top {
    width: 125px;
    height: 125px;
}

/*Accordion*/
.accordion-item {
    border-bottom: var(--standardBorder); ;

    &:last-of-type { 
        border-top: var(--standardBorder); ;
      }
}

/*Form*/
form .invalid-feedback {
    color: hsl(0, 0%, 100%);
    background-color: $secondary;
    border-radius: 0.5rem;
}

/*mediaQ*/
@media (min-width: 767px) {
    #features .nav-item {
        border-top: none;  
    }

    #extension .card:nth-child(2){
        margin-top: 5rem;
    }
    
    #extension .card:nth-child(3){
        margin-top: 10rem;
    }

    .accordion-item {
        border-top: var(--standardBorder); ;
    }
}   

@import '../node_modules/bootstrap/scss/bootstrap.scss';